{% extends 'base.html' %}
{% block start %}
<div class="container">

    
    <form class="col-6 mx-auto card mt-5 p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Login</h2>
        <h6>Login for visit the site</h6>
        <hr>

        {% if messages %}
        {{ message.tags }}
        <div class="alert alert-secondary" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        </div>
       {% endif %}
        <div class="mb-3 ">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <p>Don't have an account <a href="/" class="btn btn-primary">Sign_in here</a></p>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    
    </div>
{% endblock start %}